@media (max-width: 768px) {
  aside {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }
  .ml-200px {
    margin-left: 0;
    margin-top: 200px;
  }
}

aside{
  z-index: 1000;
}